@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--color-slate-900);
  color: var(--color-white);
}

@theme {
  --animate-fade-in: fade-in 500ms ease-in forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-fade-in-down: fade-in-down 500ms ease-in forwards;

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      margin-top: -50px;
    }
    100% {
      opacity: 1;
      margin-top: 0px;
    }
  }

  --animation-delay-100: 0.1s;
  --animation-delay-200: 0.2s;

  --animate-fade-out: fade-out 500ms ease-in-out infinite;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  --animate-fade-out-up: fade-out-up 500ms ease-in-out infinite;
  @keyframes fade-out-up {
    0% {
      opacity: 1;
      margin-top: 0px;
    }
    100% {
      opacity: 0;
      margin-top: -50px;
    }
  }
}

.animation-delay-100 {
  animation-delay: var(--animation-delay-100);
}

.animation-delay-200 {
  animation-delay: var(--animation-delay-200);
}

.banner {
  background-image: url("assets/images/pexels-dkomov-34803983.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-hero-1 {
  background-image: url("assets/images/hero-bg-1.webp");
}

.overlay-white-bg::before {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      var(--color-slate-50)
    ),
    linear-gradient(-15deg, rgba(0, 0, 0, 0) 40%, var(--color-slate-50));
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.overlay-dark-bg::before {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      var(--color-slate-900)
    ),
    linear-gradient(15deg, rgba(0, 0, 0, 0) 30%, var(--color-slate-950));
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.circle-divider::before, .circle-divider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(50% - 10px);
  border-radius: 999;
  background-color: var(--color-slate-500);
}
.circle-divider::before {
  left: 0;
}
.circle-divider::after {
  right: 0;
}
