@import "tailwindcss";

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--color-slate-900);
  color: var(--color-white);
}

@theme {
  --animate-fade-in: fadeIn 1s ease-in forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animation-delay-100: 0.1s;
  --animation-delay-200: 0.2s;
}

.animation-delay-100 {
  animation-delay: var(--animation-delay-100);
}

.animation-delay-200 {
  animation-delay: var(--animation-delay-200);
}

.banner {
  background-image: url("assets/images/pexels-dkomov-34803983.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.bg-hero-1 {
  background-image: url("assets/images/hero-bg-1.webp");
}

.overlay-white-bg::before {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      var(--color-slate-50)
    ),
    linear-gradient(-15deg, rgba(0, 0, 0, 0) 30%, var(--color-slate-50));
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.overlay-dark-bg::before {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      var(--color-slate-900)
    ),
    linear-gradient(15deg, rgba(0, 0, 0, 0) 30%, var(--color-slate-950));
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
